main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 4px;
    margin-top: 14px;
    font-size: 15px;
}

.area {
    width: 680px;
    height: 520px;
    display: flex;
    border: 1px solid black;
}

@media (max-width: 480px){
    button {
        height: 40px;
        width: 100px;
    }

    .area {
        width: 340px;
        height: 260px;
    }
}

@media screen and (min-width: 480px) and (max-width: 685px){
    button {
        height: 50px;
        width: 100px;
    }

    .area {
        width: 510px;
        height: 390px;
    }
}